:root {
  //colors
  --black: #424C5A;
  --color-primary: var(--black);

  --red: #D67F5F;
  --color-error: var(--red);

  --blue: #8BBBCF;
  --color-button-primary: var(--blue);

  --white: #FFFFFF;

  --light-blue: #C5D3DC;

  //fonts
  --font-primary: 'Noto Sans', sans-serif;
}
