:root {
  //colors
  --black: #424C5A;
  --red: #D67F5F;
  --blue: #8BBBCF;
  --white: #FFFFFF;
  --light-blue: #C5D3DC;

  --color-primary: var(--black);
  --color-error: var(--red);
  --color-button-primary: var(--blue);
  --link-color: var(--blue);



  //fonts
  --font-primary: 'Noto Sans', sans-serif;
}
