.textarea {
  border-radius: 8px;
  border: 1px solid var(--blue);
  padding: 10px 12px;
  font-size: 14px;
  font-family: var(--font-primary);
  color: var(--color-primary);
  resize: none;

  &:focus {
    outline: none;
  }

  &_error {
    border-color: var(--color-error);
    margin-bottom: 3px;
  }

  &__label {
    font-size: 14px;
    display: flex;
    flex-direction: column;
  }
}
